<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDn3jrDQuT2ne8S-zlP-uzvNdRUAnTHMPI</string>
	<key>GCM_SENDER_ID</key>
	<string>794967431556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mates</string>
	<key>PROJECT_ID</key>
	<string>mates-dev-3068f</string>
	<key>STORAGE_BUCKET</key>
	<string>mates-dev-3068f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794967431556:ios:a2328f39b8ff4e5441e5d1</string>
</dict>
</plist>